.col {
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(5, [row] auto);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.grid-guide-views {
  grid-column: col / span 8;
  grid-row: row / span 1;
}

.grid-most-viewed-guide {
  grid-column: col 9/ span 4;
  grid-row: row / span 2;
}

.grid-guides {
  grid-column: col / span 4;
  grid-row: row 2/ span 1;
}

.grid-new-user-engagement {
  grid-column: col 5/ span 4;
  grid-row: row 2/ span 1;
}
